<nav>
            
    <div class="site-title">
        <a href="/"><h1>Sporting Blog</h1></a>
        <p>Lets talk sport</p>
    </div>
    <div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="blogs/create">Add blogs</a></li>
            <li><a href="/Signup">Signin</a></li>
        </ul>
    </div>
</nav>