<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, odit. Eveniet, doloremque. Esse vitae temporibus voluptate aspernatur labore quasi. Dolor in suscipit nam deleniti recusandae cupiditate dicta cum. Hic, quaerat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, odit. Eveniet, doloremque. Esse vitae temporibus voluptate aspernatur labore quasi. Dolor in suscipit nam deleniti recusandae cupiditate dicta cum. Hic, quaerat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, odit. Eveniet, doloremque. Esse vitae temporibus voluptate aspernatur labore quasi. Dolor in suscipit nam deleniti recusandae cupiditate dicta cum. Hic, quaerat.</p>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
<div class="acordion card p-5 bg-succes color-danger  faq-arcodion"></div>
</html>